* {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

  html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      line-height: 1.5;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  img {


    max-height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;}
  #etapasimg{    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;}

  #etapas {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  #etapas:hover{}
  
  html {
   font-family: "Roboto", "Arial", serif;
  }
  
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 700px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%; padding: 0; margin: 0 auto;
    }
    #header,#metrika{
    margin: 0.5em;
    }
    #etapasimg {
        width: 80%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;}
    img{max-width: 100%;}

      }
   

  
  #metrika {
    text-align: center;
  
    margin-top: 20px;
    margin-bottom: 170px;
    font-size: 14px;
  }
  
  
  
  #email {
    font-size: 14px;
    display: inline-block;
    color: #474747;
  
  }
  a:link {
    color: #474747;
    text-decoration: none;
  }
  a:visited {
    color: #474747;
    text-decoration: none;
  }
  a:hover {
    color: rgb(182, 149, 154);
    text-decoration: none;
  }

  h2{
   margin-bottom: 7px }
  #title {
    font-size: 25px;
    margin-bottom: 7px; }
    #title2 {
    color: #474747;
    font-size: 20px;

    text-align:center; }
  hr{border:0;height:0;border-top:1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(255,255,255,0.3); margin-top: 0.5em;margin-bottom: 3em;}

  #footer {
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    margin-bottom: 20px;
    }
  #footer2 {
    text-align: center;
    margin-bottom: 20px;
    }
